---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
	href: string;
	class?: string;
}

const { href = '#', class: classNames, ...rest } = Astro.props as Props;
---

<a
	href={href}
	class:list={['shadow-blue-600 font-medium hover:text-blue-600', classNames]}
	{...rest}>
	<slot />
</a>
